# Exclude compiled files
*.class
*.jar
*.war
*.ear

# Exclude build directory
/target/

# Exclude database files
/data/

# Exclude IDE-specific files (e.g., Eclipse)
.settings/
/.classpath
/.project

# Exclude system-specific files
.DS_Store
Thumbs.db